<!DOCTYPE html>
<html>
<body>
    <h3>Example of a Select Box</h3>
    <form>
        <label for="country">Country:</label>
        <select name="country" id="country">
            <option value="Kuwaiy">Kuwait</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="France">France</option>
        </select>
    </form>

</body>
</html>