@using Journey.Model.Responses
@model ProfileResponse
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body {
            background-color: #f8f9fa;
        }

        .profile-card {
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            margin-top: 70px;
            padding: 20px;
            text-align: center;
        }

        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 auto;
            margin-top: -75px;
            border: 5px solid #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .profile-name {
            font-size: 25px;
            font-weight: bold;
            color: #333;
        }

        .profile-email {
            color: #777;
        }

        .profile-content {
            padding: 5px;
        }

        .profile-links {
            margin-top: 20px;
            text-align: center;
        }

            .profile-links a {
                margin-right: 20px;
                text-decoration: none;
                color: #333;
                font-weight: bold;
                transition: color 0.3s;
            }

                .profile-links a:hover {
                    color: cadetblue;
                }

        .profile-followers-following {
            margin-top: 20px;
            text-align: center;
        }

            .profile-followers-following a {
                margin-right: 20px;
                text-decoration: none;
                color: #333;
                font-weight: bold;
                transition: color 0.3s;
            }

                .profile-followers-following a:hover {
                    color: cadetblue;
                }
    </style>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>
        <div class="profile-card">
            <img src="@("https://localhost:7005/" + Model.ImagePath)" alt="User Photo" class="profile-img">
            <h2 class="profile-name">@Model.Username</h2>
            <div class="profile-email">@Model.Email</div>
            <div class="profile-followers-following">
                <a href="/UserProfile/Follower">Followers</a>
                <a href="/UserProfile/Following">Following</a>
            </div>
            <div class="profile-links">
                <a href="/EditProfile/EditProfile">Edit Profile</a>
                <a href="/myposts/myposts">My Posts</a>
                <a href="/PinnedPosts/PinnedPosts">My Pins</a>
            </div>
           
        </div>
    </div>
</body>
</html>
